n8n/workflow-agent-command.json
{
  "name": "BloodstockAI - Agent Command Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "agent-command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cmd", "name": "command", "value": "={{ $json.body.command }}", "type": "string" },
            { "id": "slug", "name": "agentSlug", "value": "={{ $json.body.agentSlug }}", "type": "string" },
            { "id": "lower", "name": "commandLower", "value": "={{ ($json.body.command || '').toLowerCase() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-parse",
      "name": "Parse Command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  { "leftValue": "={{ $json.commandLower }}", "rightValue": "consignor", "operator": { "type": "string", "operation": "contains" } }
                ]
              },
              "renameOutput": true,
              "outputKey": "consignor"
            },
            {
              "conditions": {
                "conditions": [
                  { "leftValue": "={{ $json.commandLower }}", "rightValue": "email", "operator": { "type": "string", "operation": "contains" } }
                ]
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "conditions": [
                  { "leftValue": "={{ $json.commandLower }}", "rightValue": "hubspot", "operator": { "type": "string", "operation": "contains" } }
                ]
              },
              "renameOutput": true,
              "outputKey": "crm"
            },
            {
              "conditions": {
                "conditions": [
                  { "leftValue": "={{ $json.commandLower }}", "rightValue": "ceo", "operator": { "type": "string", "operation": "contains" } }
                ]
              },
              "renameOutput": true,
              "outputKey": "ceo"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-route",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HUB_URL }}/api/n8n/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "agent", "value": "Amelia Scott" },
            { "name": "message", "value": "=Routed command: {{ $('Parse Command').item.json.command }}" },
            { "name": "level", "value": "info" }
          ]
        },
        "options": {}
      },
      "id": "log-hub",
      "name": "Log to HUB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bloodstockai.app.n8n.cloud/webhook/consignor-workflow",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: $('Parse Command').item.json.command, agentSlug: $('Parse Command').item.json.agentSlug, metadata: { targetCountries: ['UK', 'Ireland'], targetCount: 50, segment: 'consignors' } }) }}",
        "options": {}
      },
      "id": "trigger-consignor",
      "name": "Trigger Consignor Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, routed: true, command: $('Parse Command').item.json.command }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Command", "type": "main", "index": 0 }]] },
    "Parse Command": { "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]] },
    "Route Command": {
      "main": [
        [{ "node": "Trigger Consignor Workflow", "type": "main", "index": 0 }],
        [{ "node": "Log to HUB", "type": "main", "index": 0 }],
        [{ "node": "Log to HUB", "type": "main", "index": 0 }],
        [{ "node": "Log to HUB", "type": "main", "index": 0 }],
        [{ "node": "Log to HUB", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Consignor Workflow": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Log to HUB": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
